# Variables d'environnement pour la production
# Copiez ce fichier vers .env.production et remplissez les valeurs

# URL de l'API backend (prod en ligne par défaut)
NEXT_PUBLIC_API_URL=https://apimonbeaupays.loyerpay.ci/api
# Si vous avez une IP backend dédiée, remplacez par : http://VOTRE_IP_BACKEND:8000/api

# OneSignal Web SDK
NEXT_PUBLIC_ONESIGNAL_APP_ID=

# Environnement
NODE_ENV=production

# Port (optionnel, par défaut 3000)
PORT=3000

